.tp-container > * {
    width: 20%;
    flex-direction: column;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;  
  }
  

#login{
    background-color: rgb(43, 187, 173);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    border: none;
    color: rgb(15, 12, 12);
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

.main-div{
  padding: 0px;
}

.login-form{
  padding: 20px;
}
