<div fxFlexLayout="row" class="bg-top" fxFlexFill>
    <div fxFlex id="info" class="container" >
	    <div fxFlexLayout >
		    <header fxFlexLayout >
		        <h2>Fast Dispatcher</h2>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor augue non massa imperdiet, gravida commodo purus lacinia. </p>
		    </header>
            <mat-divider ></mat-divider>
            <br>
            <div fxFlexLayout class="serviços">
			    <header fxFlexLayout><h3>Serviços</h3></header>
			        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor augue non massa imperdiet, gravida commodo purus lacinia.</p>
	        </div>
            
            
    </div>
</div>

