div#info{
    color: rgb(7, 6, 6);
    margin-top: 3em;
}

div#info h2{
    font-weight: 600;
    position: bottom;
}

div#info p{
    font-size: 23px;
    font-weight: 300;
}

.bg-top{
    padding-top: 100px;
    margin: auto;
 //   background-image: url("/assets/bg-top.png");
    background-repeat: no-repeat;
    background-position: top;
}

mat-divider{
    background-color: black;
}

.serviços h3{
    color:#112f46;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 2px solid #112f46;
    padding-left: 8px;
}