<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50" class="box">
        <mat-toolbar color="primary">Cadastro</mat-toolbar>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                        <input matInput  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            Campo obrigatório
                        </mat-error>
                </mat-form-field>

                 <mat-form-field>
                    <mat-label>Sobrenome</mat-label>
                        <input matInput  formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <mat-error *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            Campo obrigatório
                        </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Usuário</mat-label>
                        <input matInput type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                         <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          Campo obrigatório
                        </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Senha</mat-label>
                        <input matInput  type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">Campo obrigatório</mat-error>
                        <!--
                        <mat-error *ngIf="f.password.errors.required">Campo obrigatório</mat-error>
                        <mat-error *ngIf="f.password.errors.minlength">Senha deve ter no mínimo 6 caracteres</mat-error>
                        !-->
                </mat-form-field>
                    <button mat-raised-button class="btn">Cadastrar</button>
             </form>
    </mat-card>
</div>
