
<mat-toolbar color="primary" class="navbar">
    <div class="col s8 m3 offset-m1">
		  <a [routerLink]="['/pag-inicio']"><img class="logo" src="/assets/loog.svg" alt="Fast Dispatcher"></a>
	  </div>

    <div class="col s3 m7 offset-s1">
	    	<mat-nav-list class="list-horizontal">
            <mat-list-item><a [routerLink]="['/quem-somos']">Quem Somos</a></mat-list-item>
            <mat-list-item><a [routerLink]="['/suporte']">Suporte</a></mat-list-item>
            <mat-list-item><a [routerLink]="['/pag-inicio']">Como funciona</a></mat-list-item>
            <mat-list-item><a [routerLink]="['/login']">Entrar</a></mat-list-item>
            <mat-list-item><a mat-button class="btn waves-effect waves-light" [routerLink]="['/cadastro-user']">Criar conta</a></mat-list-item>
        </mat-nav-list>
	  </div>
</mat-toolbar>

