<div class="tabela">

<div class="tp-container">
    <mat-form-field appearance="standard">
        <mat-label>Usuário</mat-label>
            <input matInput  id="usuario" type="text" class="validate">
        </mat-form-field>
</div>

<div class="tp-container">
    <mat-form-field appearance="standard">
        <mat-label>Senha</mat-label>
          <input matInput  id="usuario" type="password" class="validate">
        </mat-form-field>
    </div>
    
    <br>

<button id="login" mat-button class="btn waves-effect waves-light" type="submit" name="action">Login</button>

</div>